/* additional styles for login.html */
/* written by the Gem team */
/* March 21, 2021 */

/*Creates gradient hero image and makes responsive */
.hero-image {
    background-image: url("../static/images/login-background.jpg");
}

img {
    opacity: 75%;
    margin-left: 20%;
    margin-top: 12%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }