/* styles for main page*/
/* Adapted from W3 schools template, and tweaked by Gem team */
/* March 21, 2021 */


body, html {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", Georgia, Serif;
  text-decoration: none !important;
}

/*Creates gradient hero image and makes responsive */
.hero-image {
  background-image: url("../static/images/splash-page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

 /*Styles and positions content in center of page */
.hero-text {
  text-align: left;
  position: absolute;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
}

 /*Styles buttons that are in center of page: */
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: rgb(241, 144, 197);
  color: rgb(255, 255, 255);
  display: inline-flex;
  padding-right: 2em;
  
}

/* Styles page header */
h1 { 
  font-size: 50px;
  text-align: left !important;
}

a { 
  text-decoration: none; 
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
}

a:hover{
  background-color: rgb(241, 144, 197);
  color: rgb(255, 255, 255);
  display: inline-flex;
  
}


img {
  opacity: 75%;
  margin-left: 20%;
  margin-top: 12%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
  width: 49.99999%;
  margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}










