<!--page to view all available listings-->
{% extends "base.html" %}


{% block head_stuff %}
<!-- A few styles that are specific to this html page -->
<link rel='stylesheet' href="{{url_for('static', filename = 'listings_style.css')}}">
{% endblock %}


{% block main_content %}
    <h1> Listings</h1>
    <!-- the select category menu -->   
    <div class = "menu-form"> 
        <form method=POST action="{{url_for('listings')}}" >
          <label for="menu-category">Search by category:</label>
          <select name="menu-category" id="menu-category">
              <!--Fills out the drop down menu with the item categories-->
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>   
              {% endfor %}
          </select>
          <input type="submit" name="submit-btn" value="Choose Category">
        

        <!-- the menu for ordering by price-->     
        <label for="menu-order">Order by:</label>
        <select name="menu-order" id="menu-order">
            <!--Fills out the drop down menu with incomplete movies-->
            {% for order in possible_orderings %}
            <option value="{{order}}">{{order}}</option>   
            {% endfor %}
        </select>
        <input type="submit" name="submit-btn" value="Select Order">
        </form>
    </div>  


    <!--listings to display-->
    {% for listing in listings %}

    <!-- separate divs for formatting reasons: 
      taken from W3 schools image gallery template-->
    <div class="responsive">
      <div class="gallery">

        <a target="_blank" href="{{url_for('item_page', item_identifier = listing.item_id)}}">
          <img src= "{{url_for('pic',image=listing.image)}}" alt="{{listing.item_name}}" 
              width="600" height="400">
      
              
        </a>
        <!-- listing info that will show for each listing to display -->
        <div class="desc">{{listing.item_name}}</div>
        <div class="desc">${{listing.price}}</div>
      </div>

    </div>
    {% endfor %}
{% endblock %}