{% extends "base.html" %}


{% block head_stuff %}
<!-- A few styles that are specific to this html page -->
<link rel='stylesheet' href="{{url_for('static', filename = 'listings_style.css')}}">
{% endblock %}


{% block main_content %}
    <h1> Listings</h1>
    <!-- "listings" contains all of the listings in the database not marked as "Sold" -->
    {%for listing in listings %}

    <!-- divs created for formatting reasons:based on W3 schools image gallery template-->
    <div class="responsive">
      <div class="gallery">

        <!-- CSS switch taken from W3 schools: Not implemented yet. Later, when someone 
          clicks it, it will save the item to their list of favorite items, and these 
          favorites of theirs will be recorded in the database and they will be able to 
          view these favorites by clicking on the favorites tab. For now, just appears as a 
          toggle on each item that one can click. Will implement favoriting of items later on. -->
        <!-- <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label> -->

        <!-- For now, we are hardcoding the image, since have not  implemented storing the 
          image in the database yet. We will do this in the alpha version since we've not 
        covered File Uploads in class yet. A filler image is used for now. -->
        <a target="_blank" href="{{url_for('itemPage', item_identifier = listing.item_id)}}">
          <img src="../static/images/product1.jpeg" alt="Birkenstock">
        </a>
        <!-- listing info that will show for each listing in listings gallery: -->
        <div class="desc">{{listing.item_name}}</div>
        <div class="desc">${{listing.price}}</div>
      </div>
    </div>
    {% endfor %}
    <!-- div for formatting reasons: based on W3 schools image gallery template- -->
    <div class="clearfix"></div>
{% endblock %}