{% extends "base.html" %}

{% block head_stuff %}
<link rel='stylesheet' href="{{url_for('static', filename = 'listing_form_style.css')}}">
{% endblock %}

{% block main_content %}
<div class="w3-container w3-padding-64" id="listingform">
    <h1>Sell your stuff that you no longer use!</h1><br>
    <h5>Have stuff in your room that you never use? List it for sale and make some $$!
        You can always delete or update an item listing later.</h5>
    <form target="_blank" class="search" method="POST" action="{{ url_for('listingReturn') }}">
        <!-- divs used to add padding between certain portions of the form in the css file. -->
        <div> 
            <label>
                <input class="w3-input w3-padding-16" type="text" placeholder="A name for your item" 
                required name="name">
                Item Name (model, make, and/or brand):
            </label>
        </div>
        <div>
            <p>Category: Have to click only the clothing category for the draft version.</p>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Clothing">
                Clothing 
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" 
                value="Accessories">
                Accessories
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" 
                value="Dorm Essentials">
                Dorm Essentials
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Beauty">
                Beauty
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" 
                value="School Supplies">
                School Supplies
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Tech">
                Tech
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Furniture">
                Furniture
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Textbooks">
                Textbooks
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=checkbox name="category" value="Food">
                Food
            </label>
            <label>
                <input class="w3-input w3-padding-16" type=text name="category10" 
                placeholder="Explanation">
                Other:
            </label>
        </div>
        <div>
            <label>
                <input class="w3-input w3-padding-16" type="text" 
                placeholder="Short description of your item" required name="description">
                Item Description:
            </label>
        </div>
        <div>
            <p>Condition:</p>
            <label>
                <input class="w3-input w3-padding-16" required type="radio" name="condition" 
                value="Brand New">
                Brand New
            </label>
            <label>
                <input class="w3-input w3-padding-16" required type="radio" name="condition" 
                value="Gently Used">
                Gently Used
            </label>
            <label>
                <input class="w3-input w3-padding-16" required type="radio" name="condition" 
                value="Well Loved">
                Well Loved
            </label>
        </div>

        <!-- Whether the item is for sale, rent, or trade -->
        <!-- can only select one option: sell for now -->
        <div>
            <p>Available for:</p>
            <label>
                <input class="w3-input w3-padding-16" type="checkbox" name="sellmode" value="For Sale">
                Sell
            </label>
            <label>
                <input class="w3-input w3-padding-16" type="checkbox" name="sellmode" value="For Rent">
                Rent
            </label>
            <label>
                <input class="w3-input w3-padding-16" type="checkbox" name="sellmode" value="For Trade">
                Trade
            </label>
        </div>
        <div>
            <label>
                <input class="w3-input w3-padding-16" type="number" 
                placeholder="Price you are selling for" required name="price" min="0">
                Price in dollars:
            </label>
        </div>
        <div>
            <button class="w3-button w3-light-grey w3-section center" 
            type="submit">Create listing</button>
        </div>
    </form>
</div>
{% endblock %}