{% extends "base.html" %}

{% block head_stuff %}
<!-- https://www.w3schools.com/howto/howto_css_hero_image.asp -->
<style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .hero-image {
      background-image: url("../static/splash-page.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }
    
    .hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
    }
    
    .hero-text button:hover {
      background-color: #555;
      color: rgb(119, 115, 115);
    }
    </style>
{% endblock %}

{% block main_content %}
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Welcome to Gem!</h1>
        <p>Gem is the one stop shop for buying and selling 
            pre-loved items, within the Wellesley community!
            Gem is a one-stop shop for buying and selling pre-loved items. 
            Who knows, you might make a little
            bit of cash, or might find a new pre-loved Gem!</p>
        <button name="submit_button" value="buy">Explore items for sale</button>
        <button name="submit_button" value="sell">Sell an Item</button>
    </div>
</div>

<p>Page Content..</p>

{% endblock %}